---
import BaseLayout from './BaseLayout.astro';
import 'katex/dist/katex.min.css';
const {frontmatter} = Astro.props; 
---
<BaseLayout pageTitle={frontmatter.title}>

<p>投稿:{new Date(frontmatter.pubDate).toLocaleDateString('ja-JP', { year: 'numeric', month: 'numeric', day: 'numeric' })}</p>
<p><em>{frontmatter.description}</em></p>
<slot />
<div class="tags">
  {frontmatter.tags.map((tag: string) => (
    <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
  ))}
</div>

</BaseLayout>


<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>
